<div class="photo-gallery">
  <div class="grid">

      <img class="grid-item grid-item--width2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/pano/1.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/1.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/2.jpg">

      <img class="grid-item grid-item--height2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/vertical/1.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/3.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/8.jpg">

      <img class="grid-item grid-item--width2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/pano/2.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/4.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/5.jpg">

      <img class="grid-item grid-item--height2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/vertical/3.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/6.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/7.jpg">

      <img class="grid-item grid-item--width2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/pano/3.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/9.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/10.jpg">

      <img class="grid-item grid-item--height2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/vertical/4.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/11.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/12.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/13.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/14.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/15.jpg">

      <img class="grid-item grid-item--height2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/vertical/5.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/16.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/17.jpg">


      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/18.jpg">

      <img class="grid-item grid-item--height2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/vertical/6.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/19.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/20.jpg">

      <img class="grid-item grid-item--height2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/vertical/7.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/21.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/22.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/23.jpg">

      <img class="grid-item grid-item--height2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/vertical/8.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/24.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/25.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/26.jpg">

      <img class="grid-item grid-item--height2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/vertical/9.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/27.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/28.jpg">

      <img class="grid-item" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/horizontal/29.jpg">

      <img class="grid-item grid-item--height2" src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/medellin/thumb/vertical/2.jpg">
  </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

<script type="text/javascript">
var elem = document.querySelector('.grid');
var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
  columnWidth: 600
});

// console.log(msnry)
// element argument can be a selector string
//   for an individual element
// var msnry = new Masonry( '.grid', {
//   // options
// });
</script>
 <!--  <div class="grid-item grid-item--width2 grid-item--height2"></div>
  <div class="grid-item grid-item--height3"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item grid-item--width3"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item grid-item--width2 grid-item--height3"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--width2 grid-item--height2"></div>
  <div class="grid-item grid-item--width2"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height3"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height2"></div> -->
