<!DOCTYPE html>
<html>

  {% include head.html %}
  <div style="display:none;">
    <img src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/aguadas-cali/thumb/horizontal/29.jpg">
    <img src="https://s3.us-east-2.amazonaws.com/amax-blog-photos/cali-ipiales/thumb/horizontal/52.jpg">
  </div>

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox-plus-jquery.min.js"></script>

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

    <script type="text/javascript">
      var columnWidth;
      var elem = document.querySelector('.grid');
      
      if(window.innerWidth < 800 ) {
        columnWidth = Math.floor((window.innerWidth * .9 - 20));
      } else {
        columnWidth = Math.floor((window.innerWidth * .9 - 20) / 3);
      };

      var msnry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item',
        columnWidth: columnWidth
      });
    </script>
  </body>

</html>
