---
layout: default
---
<div class="post">

  <div class="post-nav">
    {% if page.nexturl %}
      <a href="{{ page.nexturl }}">&laquo; Next</a>
    {% endif %}

    {% if page.previousurl and page.nexturl %}
      |
    {% endif %}

    {% if page.previousurl %}
      <a href="{{ page.previousurl }}">Previous &raquo;</a>
    {% endif %}
  </div>

  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>

        {% include photo-gallery.html %}

        <article class="post-content">
          {{ content }}
        </article>
      </div>
    </div>
  <div>

</div>
